@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
    margin: 0;
    padding: 0;
}

* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  /* background-color: #24262b; */
  background-color: #212839;
}
.navbar{
    width: 100%;
    /* height: 70px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 2px solid red; */
    background-color: rgb(31, 37, 51);
    display: flex;
  }
  .left{
    width: 60%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
  }
  .website_name{
    display:flex;
    color: #c9c1f0;
    margin-left: 14px;
  }
  .logo{
    /* border: 2px solid green; */
    width: 40px;
    display: flex;
    align-items: center;
  }
  .logo .image{
  width: 100%;
   
   }
  .head {
    display:flex;
    justify-content: center;
    align-items: center;
  }
   .head h2{
    /* right:0px; */
    font-family: 'Passion One', cursive;
    /* margin-top: 0px; */
    font-size: 40px;
    color:rgb(252, 107, 23);
    margin-left: 4px;
  }
   .head h1{
     margin-left: 2px;
     font-family: 'Passion One', cursive;
     margin-top: 9px;
     color: #f3c13b;
     font-size: 23px;
  }
  
  .search{
    display:flex;
    width: 50%;
    /* margin-left: 200px; */
  
  }
  .search input{
    width: 100%;
    padding: 7px;
    /* box-sizing: border-box; */
    border-radius: 6px;
    margin-left: 10px;
    background-color: rgba(255,255,255,0.8);
    /* background-color: #dce4e1; */
  }
  .right{
    width: 40%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .right:active{
    background-color: rgba(132, 153, 204, 0.6);
  }
  .right a{
   text-decoration: none;
     color: #ffffff;
   ;
   margin-right: 40px;
   font-family: 'Open Sans', sans-serif;
   font-size: 17px;
  }
  .slider_parent{
    margin-top: 20px;
    margin-bottom: 20px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(255, 255, 255,0.2); */
  }
  .hamburger{
    display: none;
    width: 20%;
    /* border: 2px solid brown; */
    justify-content: flex-end;
    align-items: center;
  }
  .hamburger img{
    margin-right: 15px;
    width: 30px;
    height: 30px;
  }


  /* signin */
.sub-menu{
  display: none;
  background-color: rgba(31, 37, 51,0.7);
  }
  
  #signin_link:hover .sub-menu{
    display: block;
    position: absolute;
    list-style: none;
    /* margin-top: 15px; */
    margin-left: -15px;
  }
  
  #signin_link:hover .sub-menu ul{
  list-style: none;
  display: block;
  }
  
  #signin_link:hover .sub-menu ul li{ 
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid wheat;
  }
  #signin_link:hover .sub-menu ul li:last-child{
    border-bottom: none;
  }
  #signin_link:hover .sub-menu ul li :first-child{
    margin-top: 0;
  }
  #signin_link:hover .sub-menu ul li a:hover{
    color: wheat;
  }
  
  /* theater */
  
  .sub-menu{
    display: none;
    background-color: rgba(31, 37, 51,0.7);
    }
    
    #theater:hover .sub-menu{
      display: block;
      position: absolute;
      list-style: none;
      /* margin-top: 15px; */
      margin-left: -15px;
    }
    
    #theater:hover .sub-menu ul{
    list-style: none;
    display: block;
    }
    
    #theater:hover .sub-menu ul li{
      width: 150px;
      margin: 10px;
      padding: 10px;
      border-bottom: 1px solid wheat;
    }
    
    #theater:hover .sub-menu ul li:last-child{
      border-bottom: none;
    }
    #theater:hover .sub-menu ul li :first-child{
      margin-top: 0;
    }
    #theater:hover .sub-menu ul li a:hover{
      color: wheat;
    }
  
    /* Movie */
  
  
  .sub-menu{
    display: none;
    background-color: rgba(31, 37, 51,0.7);
    }
    
    #Movie:hover .sub-menu{
      display: block;
      position: absolute;
      list-style: none;
      /* margin-top: 15px; */
      margin-left: -15px;
    }
    
    #Movie:hover .sub-menu ul{
    list-style: none;
    display: block;
    }
    
    #Movie:hover .sub-menu ul li{
      width: 150px;
      margin: 10px;
      padding: 10px;
      border-bottom: 1px solid wheat;
    }
    
    #Movie:hover .sub-menu ul li:last-child{
      border-bottom: none;
    }
    #Movie:hover .sub-menu ul li :first-child{
      margin-top: 0;
    }
    #Movie:hover .sub-menu ul li a:hover{
      color: wheat;
    }
  
    /* User-logo */
  
    .sub-menu{
      display: none;
      background-color: rgba(31, 37, 51,0.7);
      }
      
      #user_logo:hover .sub-menu{
        display: block;
        position: absolute;
        list-style: none;
        /* margin-top: 15px; */
        margin-left: -15px;
      }
      
      #user_logo:hover .sub-menu ul{
      list-style: none;
      display: block;
      }
      
      #user_logo:hover .sub-menu ul li{
        width: 150px;
        margin: 10px;
        padding: 10px;
        border-bottom: 1px solid wheat;
      }
      
      #user_logo:hover .sub-menu ul li:last-child{
        border-bottom: none;
      }
      #user_logo:hover .sub-menu ul li :first-child{
        margin-top: 0;
      }
      #user_logo:hover .sub-menu ul li a:hover{
        color: wheat;
      }
  
      /* hamburger */
  
      .home{
        /* background: rgba(106, 112, 128, 0.7); */
        padding: 5px 8px 5px 8px;
      }
      
      
      /* footer */
  
      .footer{
        background-color: #212839;
        position: absolute;
        /* top: 204em; */
        /* border: 2px solid red; */
        width: 100%;
        height: 20vh;
        /* background-color: rgba(31, 37, 51,0.5); */
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
      }
  
  .logo1 img{
  position: relative;
  left: 50%;
  top: 1em;
  /* border: 2px solid red; */
  width: 3em;
  border-radius: 30px;
  }
  
  .social_sites{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    position: relative;
    left: 33%;
    height: 8em;
    font-family: 'Roboto', sans-serif;
  
  }
  
  .social-media img{
    /* border: 2px solid red; */
    width: 2em;
    position: relative;
    left: 55%;
    top: 0.8em;
  bottom: 1em;
  padding: 0.6em;
  border-radius: 20px;
  }
  
  .contact a{
    /* display: flex;
    flex-direction: column; */
    /* border: 2px solid red; */
    font-size: 15px;
    width: 3em;
    position: relative;
    left: 35%;
    top: 1em;
  padding: 0.5em;
  text-decoration: none;
  color: aliceblue;
  }
  
  .contact a:hover{
    color: wheat;
  }
  
  .social-media img:hover{
    width: 2.2em;
    cursor: pointer;
  }
  
  @media (min-width:0px) and (max-width:650px){
    .social-media img{
      width: 1em;
    }
    .logo1 img{
      width: 1em;
    }
    .contact a{
      font-size: 10px;
    }
  }

  @media (min-width: 0px) and (max-width: 1000px)
{
  .right{
    display: none;
  }
  .left{
   width: 80%;
  }
  .hamburger{
    display: flex;
  }
  .sub-menu{
    display: none;
    background-color: rgba(31, 37, 51,0.7);
    }
    
    .hamburger:hover .sub-menu{
      display: block;
      position: absolute;
      list-style: none;
      margin-top: 16.8em;
      margin-left: -15px;
    }
    
    .hamburger:hover .sub-menu ul{
    list-style: none;
    display: block;
    }
    
    .hamburger:hover .sub-menu ul li{
      width: 150px;
      margin: 10px;
      padding: 10px;
      border-bottom: 1px solid wheat;
    }
    
    .hamburger:hover .sub-menu ul li:last-child{
      border-bottom: none;
    }
    .hamburger:hover .sub-menu ul li :first-child{
      margin-top: 0;
    }
    .hamburger:hover .sub-menu ul li a:hover{
      color: wheat;
    }
    .hamburger:hover .sub-menu ul li a{
      color: white;
      text-decoration: none;
    }

    .sub_menu{
      display: none;
      background-color:  rgba(31, 37, 51,0.7);
    }

    .dropdown a:hover .sub_menu{
      display: list-item;
      position: absolute;
    }
}


.open{
    background-image: url("https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1653&q=80");
background-position: center;
background-repeat: no-repeat;
/* background-size: 100vw; */
height: 60vh;
/* position: sticky;
overflow: auto; */
/* margin-top: 20px; */
}

.detail{
    /* background-color: azure;
    height: 60vh; */
    /* width: 100vw; */
} 
/* #container{
    display: flex;
} */
/* .form{
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: 25em;
    margin-top: 30px;
    display: inline-block;
    justify-content: center;
  position: relative;
  left: 40px;
  top: 15px;
} */
.form1 h3{
    /* border: 2px solid red; */
    /* border-bottom: 5px solid wheat;
    width: fit-content;
    margin-left: 12px; */
    
    /* display: block;
    padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 37, 51); */
}

/* .form1 input{
    padding: 17px;
    margin: 20px;
    width: 15em;
    position: relative;
    left: 30px;
    top: 25px;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 5px;
} */

.button{
    /* padding: 17px;
    margin: 20px;
    width: 11em;
    position: relative;
    left: 17em;
    top: 25px; */
    /* border: 2px solid rgb(223, 223, 223); */
    /* border-radius: 5px;
    background-color: rgb(31, 37, 51);
    color: white;
    border: none;
    cursor: pointer; */
}
/* .button:hover{
    background-color: rgba(31, 37, 51,0.7);
} */

.fill{
    /* padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 37, 51);
    position: relative;
    left: 1em; */
    /* position: absolute;
    right: 12.5em; */
}

/* .add{
  padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 37, 51);
  position: relative;
  left: 8.5em;
} */



.form1 p{
    /* border: 2px solid rgb(216, 214, 214);
    position: relative;
    left: 16em;
    top: 25px; */
    /* margin-top: 6.5em;
    position: absolute;
    right: 70px; */
    /* margin: 20px;
    padding: 20px;
    height: 8em;
    border-radius: 7px;
    line-height: 2em; */
}

#container{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
  /* align-items: center; */
}
.form{
  /* border: 2px solid rgb(4, 0, 255); */
  margin: 5em;
}
.form1{
  /* border: 2px solid red; */
  align-items: flex-start;
}
.input{
  display: grid;
  grid-template-columns: repeat(2,15em);
  align-items: center;
  grid-gap: 20px;
}
.input:last-child{
  grid-template-columns: repeat(1);
  align-items: center;
}
.form2{
  align-items: flex-end;
  border: 3px solid rgb(84, 89, 102);
  border-radius: 7px;
}
.fill{
  font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 37, 51)
}
.add{
  font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 37, 51)
}
.form1 input{
  padding: 17px;
    margin: 20px;
    width: 15em;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 5px;
    
}
.button{
  background-color: rgb(31, 37, 51);
  color: white;
    border: none;
    cursor: pointer;
    padding: 17px;
    margin-left: 15em;
    width: 11em;
    border-radius: 10px;
}
.button:hover{
  background-color: rgba(31, 37, 51,0.7);
}
.form2 p{
  /* border-radius: 7px; */
    line-height: 2em;
    /* border: 2px solid rgb(216, 214, 214); */
    padding-top: 20px;
    font-size: 16px;
    color: rgb(31, 37, 51);
    font-family: sans-serif;
    padding-bottom: 40px;
}

@media screen and (max-width:775px){
  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button{
    margin-left: 2em;
  }
  .fill{
    font-size: 20px;
    text-align: center;
  }
  .form1 input{
    width: 12em;
    align-items: center;
  }
  .add{
    font-size: 20px;
  }
  .form2 p{
    font-size: 13px;
  }
}

@media screen and (max-width:501px){
  .input{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width:502px) and (max-width:775px){
.button{
  margin-left: 13em;
}
}