@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
    margin:0;
    padding:0;
}
main{
    display: flex;

}
.content{
    display: flex;
    align-items: flex-start;
    flex-direction:row;
    background-color: rgb(31, 37, 51);
    height:100vh;
    width:60vw;
}
.sign-in{
    background: rgb(255, 255, 255);
    width:40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0em 2em 0em;
}
.sign-in-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-family: 'Passion One', cursive;
    font-size: 40px;
    margin-bottom:1em;
    font-weight: 200;

}
.input, .button{
    width:30vw;
    height:5vh;
    margin:1em 0em 2em 0em;
    border-radius: 5px;
}
.button{
    background: coral;
    height:7vh;
    width:14vw;
}
.bottom{
    display:flex;
}
.bottom a{
text-decoration: none;
color:black;
margin:0em 2em 0em 2em;
}
.website_name{
    display:flex;
    color: #c9c1f0;
    margin-left: 14px;
  }
  .logo{
    /* border: 2px solid green; */
    width: 40px;
    display: flex;
    align-items: center;
  }
  .logo .image{
  width: 100%;
   
   }
  .head {
    display:flex;
    justify-content: center;
    align-items: center;
  }
   .head h2{
    /* right:0px; */
    font-family: 'Passion One', cursive;
    /* margin-top: 0px; */
    font-size: 40px;
    color:rgb(252, 107, 23);
    margin-left: 4px;
  }
   .head h1{
     margin-left: 2px;
     font-family: 'Passion One', cursive;
     margin-top: 9px;
     color: #f3c13b;
     font-size: 23px;
  }
  .popcorn{
      width:10vw;
  }
  